# Dependencias de Node.js
node_modules/
dist/

# Archivos de configuración de editores
.vscode/

*.sublime-workspace
*.sublime-project

# Archivos de entorno y secretos
.firebase/hosting.*.cache
.env
.DS_Store
.hintrc
*.json
*.md
data.firestore.txt

# Security
functions/serviceAccountKey.json