/* ==========================================================================
   RESET CSS
   ========================================================================== */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

body {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    font-family: var(--bs-body-font-family, sans-serif);
    font-size: var(--bs-body-font-size, 1rem);
    font-weight: var(--bs-body-font-weight, 400);
    line-height: var(--bs-body-line-height, 1.5);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

img, svg, video, canvas {
    display: block;
    max-width: 100%;
}

button, input, select, textarea {
    font-family: inherit;
    border: none;
}

button {
    background-color: transparent;
    cursor: pointer;
}